---
import MainLayout from "../../layout/MainLayout.astro";
import Title from "../../components/shared/Title.astro";
import { Counter } from "../../components/Counter";

---

<MainLayout title="Favoritos">
    <Title>Favorito</Title>
    <div style={{
        height: '2000px',
        backgroundColor: 'red',
        opacity: '0.5'
    }}></div>
    <Counter client:load />
</MainLayout>